<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server" value="172.18.50.132"/>
    <add key="database" value="ZN_DSMDB"/>
    <add key="user" value="sa"/>
    <add key="pwd" value="abc"/>
    <add key="SavePath" value="D:\\AutoCode"/>
  </appSettings>
</configuration>